@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Chewy';
  src: url('/fonts/Chewy-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Knewave';
  src: url('/fonts/Knewave-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
